<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Currencies</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>

</head>

<body>

<%= render 'layouts/navigation' %>

<div class="container">
  <nav aria-label="breadcrumb">
      <%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, tag: :li, separator: "" %>
  </nav>
  <%# flash.each do |name, msg| %>
    <%#= content_tag(:div, msg, class: "alert alert-info") %>
  <%# end %>
  <%= flash_messages %>
  <%= yield %>
  <footer class="footer" style="padding-top: 20px;">
  </footer>
</div>
</body>
</html>


